<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan predictor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800&display=swap" rel="stylesheet">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
    <style>
        font-family: 'Poppins', sans-serif !important;
    </style>
    <title>Loan predictor</title>
</head>
<body>
    <div class="uk-container uk-margin-large-top uk-margin-large-bottom uk-card uk-card-default uk-card-body">
        <h1 class="uk-heading-small uk-text-bold uk-text-primary">Loan predictor</h1>
    <p>You can easily predict the loan amount that you can get by entering your details in this predictor.
        Click the below button to predict now.
    </p>
    <a href="/details" class="uk-button uk-button-default uk-button-primary">Predict now!</a>
    </div>
</body>
</html>